main.main
  .container
    .breadcrumbs
      ul
        li
          a(href="/") Главная
        li —
        li
          span Услуги
    h1.h1 Услуги
    .intro-text
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    .services
      .services__columns
        .services__left
          .services__desc
            h2.h2 1. Клининг промышленной тары
            .services__flex
              ul
                li Промываем
                li Пропариваем
                li Просушиваем
              .services__info Выдаем справку о чистоте тары согласно Лицензия (16)-6257-СТОУ-П от 11.10.2019г. и Технологического регламента ООО «АЮ»
            a.button-bordered(href="") Заказать услугу
          .services__desc
            h2.h2 2. Услуги розлива в промышленную тару:
            p При вывозе продукции с заводов
            ul
              li В еврокуб
              li В пластиковые бочки
              li В металлические бочки
            a.button-bordered(href="") Заказать услугу
        .services__right
          img(src="./img/service1.jpg" alt="")

      .services__columns
        .services__left
          .services__desc
            h2.h2 3. Вывоз нефтехимической продукции
            p С заводов г.Нижнекамск, Республика Татарстан, РФ, по «ДОПОГ»
            a.button-bordered(href="") Заказать услугу
          .services__desc
            h2.h2 4. Услуги склада ответ хранения
            p г. Нижнекамск, Республика Татарстан, РФ
            a.button-bordered(href="") Заказать услугу
        .services__right
          img(src="./img/service2.jpg" alt="")
