main.main
  .section-hero
    .container
      .scroll Скрольте для продолжения
      .section-hero__slider.owl-carousel.owl-theme
        .section-hero__item
          .section-hero__inner(style="background-image:url(./img/Zisternen_und_Wassertanks-1-scaled_.png)")
            .section-hero__title Комплексные услуги по промышленной таре:
            .section-hero__text
              ul
                li Еврокуб
                li Бочки пластиковые
                li Бочки металлические
                li Комплектующие
            .section-hero__link(href="") Посмотреть<br>каталог тары
        .section-hero__item
          .section-hero__inner
            .section-hero__title Комплексные услуги по промышленной таре:
            .section-hero__text
              ul
                li Еврокуб
                li Бочки пластиковые
                li Бочки металлические
                li Комплектующие
            .section-hero__link(href="") Посмотреть<br>каталог тары
        .section-hero__item
          .section-hero__inner
            .section-hero__title Комплексные услуги по промышленной таре:
            .section-hero__text
              ul
                li Еврокуб
                li Бочки пластиковые
                li Бочки металлические
                li Комплектующие
            .section-hero__link(href="") Посмотреть<br>каталог тары
  .section-buy
    .container
      .section-buy__flex
        .section-buy__left
          .section-buy__title Услуги по забору промышленных отходов
          .section-buy__text С предоставлением Актов утилизации согласно Российского законодательства
          a.button-bordered(href="") Заказать услугу
        .section-buy__right
          .section-buy__subtitle Перечень вывозимых отходов:
          .section-buy__items
            .section-buy__item(style="background-image:url(./img/img1.png)")
              .section-buy__count 01
              .section-buy__info Бочки металлические и пластиковые
            .section-buy__item(style="background-image:url(./img/img2.png)")
              .section-buy__count 02
              .section-buy__info Емкости кубические (еврокубы) V 1000 м3
            .section-buy__item(style="background-image:url(./img/img3.png)")
              .section-buy__count 03
              .section-buy__info Отходы ПВД, ПНД, ПП (биг-беги, мешки), стрейч пленки и пластика

  .section-certificates
    .container
      .section-certificates__flex
        .section-certificates__left
          img(src="./img/Flyer-1.png" alt="")
        .section-certificates__right
          .section-certificates__info Наличие лицензии по вывозу и утилизации Лицензия АЮ (16)-6257-СТОУ-П от 11.10.2019
          ul.section-certificates__list
            li своевременный вывоз отходов с территории предприятия (наличие  собственного транспорта) при 100% предоплате
            li предоставление актов утилизации, после сдачи отчета в Росприроднадзор копии отчета «2-ТП»; «Порядок учета в области обращения с отходами
          a.section-certificates__link(href="") Смотреть лицензию в  pdf.
          .search-block
            .search-block__title Поиск ФККО по нашей лицензии:
            form.search-block__form(action="" method="get")
              input.search-block__input(type="text" placeholder="Здесь напишите код ФККО")
              input.search-block__submit(type="submit" value="")
  .section-reputation
    .container
      .section-reputation__title Наше отличие - репутация. Сотрудничаем с группой компании Роснефть, Газпром, Татнефть и многими предприятиями Российской Федерации
      .section-reputation__flex
        .section-reputation__white На рынке с 2002 года
        .section-reputation__white Конечный переработчик промышленных отходов
        .section-reputation__circle
        .section-reputation__green
          ul
            li Еврокубы, бочки – восстанавливаем, промываем, пропариваем,
            li Пленку и пластик перерабатываем во вторичную гранулу)

  .section-eco
    .container
      .section-eco__flex
        .section-eco__left(style="background-image:url(./img/eco.jpg)")
        .section-eco__right
          .section-eco__circle Польза
          .section-eco__arrow
          .section-eco__text
            span Сокращение <br>
            | экологических взносов
          .section-eco__text
            span Защищённость в виде штрафных санкции от Роспотребнадзора<br>
            | и других проверяющих структур
  .catalog-contacts
      .container
        .catalog-contacts__grid
          .catalog-contacts__left
              .catalog-contacts__title У вас есть вопросы или предложения?
              .catalog-contacts__text Свяжитесь с нами удобным для вас способом.<br>Оставьте заявку или позвоните
          .catalog-contacts__right
            .catalog-contacts__info
              a.catalog-contacts__phone(href="tel:+79274848888") 8-927-484-88-88
              .catalog-contacts__socials
                a(href="")
                  img(src="./img/viber.png" alt="")
                a(href="")
                  img(src="./img/whatsapp.png" alt="")
                a(href="")
                  img(src="./img/telegram.png" alt="")
            a.button-bordered(href="") Заказать звонок
            .catalog-contacts__emails
              a(href="mailto:sales@e-kube.ru") sales@e-kube.ru
              span |
              a(href="mailto:buy@e-kube.ru") buy@e-kube.ru
            .catalog-contacts__address г.Нижнекамск, ул. Первопроходцев, д. 32