main.main
  .container
    .breadcrumbs
      ul
        li
          a(href="/") Главная
        li —
        li
          span Контакты
    .contacts
      .contacts__left
        h1.h1 Контакты
        .intro-text
          p Свяжитесь с нами любым удобным для вас способом
        .contacts__block.contacts__block_phones
          .contacts__subtitle Телефоны:
          .contacts__info
            a(href="tel:+78555483434") 8 (8555) 48-34-34
            a(href="tel:+79274848888") 8-927-484-88-88
        .contacts__block.contacts__block_address
          .contacts__subtitle Арес производства и склада:
          .contacts__info 423556, РФ, Республика Татарстан, г.Нижнекамск, <br>ул. Первопроходцев, д. 32
        .contacts__block.contacts__block_address
          .contacts__subtitle Почтовый адрес:
          .contacts__info 423577, РФ, Республика Татарстан, г. Нижнекамск, <br>а/я 1223
        .contacts__block.contacts__block_vk
          .contacts__subtitle Мы в соц. сетях:
          .contacts__info
            p
              a(href="") Продать 
              | еврокуб, бочки металлические и пластиковые по утилизации
            p
              a(href="") Купить 
              | еврокубы, бочки пластиковые и металлические (чистые, б/у)
      .contacts__right
        img(src="./img/map.jpg" alt="")
