sidebar.sidebar
	.sidebar__part
		.sidebar__name МЕНЮ
		.sidebar__hamburger
			.hamburger.hamburger--squeeze.js-hamburger
				.hamburger-box
					.hamburger-inner
		.sidebar__social
			.sidebar__name - СОЦ.СЕТИ
			.sidebar__social-icons
				a(href="")
					img(src="./img/vk.png" alt="")
				a(href="")
					img(src="./img/dzen.png" alt="")
	.sidebar__menu
		nav.menu
			ul
				li
					a(href="") Главная
				li
					a(href="") Покупаем
				li
					a(href="") Продаем
				li
					a(href="") Услуги
				li
					a(href="") Контакты
